#popup-container {
  /* Layout */
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw !important;
  height: 100vh !important;

  /* Styling */
  background: rgba(16, 16, 16, 0.8);

  /* Keep popup hidden by default.*/
  display: none;
}
#popup {
  /* Layout */
  width: 90vw;
  margin: 20px;
  min-height: 40vh;

  /* Styling */
  background-color: #151515;
  border: 1px solid #252525;
  border-radius: 5px;
}
